@import '../../../assets/colors.scss';

.brian--side-nav {
  position: sticky;
  min-height: 100%;
  width: 30%;
  background-color: $--color-blue;
  transition: ease-in-out 0.25s;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4);

  &.collapsed {
    width: 5%;
  }

  ul {
    list-style: none;
    white-space: nowrap;
    li {
      padding: 0.5rem;
    }
    &.hide {
      display: none;
    }
  }

  .brian--nav {
    margin-top: 5rem;
    .brian--nav-item {
      a {
        color: whitesmoke;
        text-decoration: none;
      }

      &.active {
        color: darkgray;
      }

      :hover {
        transition: ease-in-out 0.25s;
        color: cyan;
      }
    }
  }
}
