// BLUE THEME
.box {
  &.blue {
    color: $--color-blue;
  }
}

.top-bar {
  &.blue {
    color: $--color-blue;
  }
}

.brain--right-side {
  &.blue {
    color: $--color-blue;
  }
}
.brain--left-side {
  &.blue {
    color: $--color-blue;
  }
}
